$color-blue: #b5b4f2;
$color-green: #addd90;
$color-dark-gray: #222830;
$color-baby-pink: #e9b1b1;
$color-yellow: #dee068;

$light-color: #fff;

$dark-blue: #435779;
$dark-green: #74856a;

// ? NEW

$main-color: #161b22;
$light-green: #55ff99;
$light-gray: #686b73;
$color-red: #ce6e6e;
$color-dark-gray: #1e242d;
$color-light-gray: #c9d1d9;

.bg-red {
  background-color: $color-red !important;
}

.bg-blue {
  background-color: $color-blue !important;
}
