html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Jakub Š. <hello@code-planet.eu>")
    meta(name="theme-color" content="#161B22")
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/jquery-3.7.0.min.js")
    script(src="/js/TweenMax.min.js")
    script(src="https://unpkg.com/htmx.org")
    script(src="https://unpkg.com/htmx.org/dist/ext/sse.js")
    script(src="https://unpkg.com/htmx.org/dist/ext/remove-me.js")

  body

  //- .snowflakes(aria-hidden="true")
  //-   - var numSnowflakes = 12;

  //-   .snowflakes
  //-     - for (var i = 0; i < numSnowflakes; i++)
  //-       .snowflake
  //-         | ❅

  .version= version

  #cursor
    .cursor
    .cursor-follower
  #main
    if messages
      include _messages

    != body



  script(src="/js/cursor.js")